<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | SkeletonSlothCMS</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="login-screen">
        <div>
            {% if error %}
            <p>Username or password are incorrect</p>
            {% endif %}
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" />

                <input type="submit" value="Log in" />

            </form>
        </div>
    </div>
</body>

</html>