.media-picker-dialog {
	display: grid;
	grid-template-columns: 66% 33%;
	min-width: 62rem;
	max-width: 80vw;
	gap: 2rem;

	.media-picker-actions {
		display: flex;
		flex-flow: column;
		justify-content: space-between;

		.media-picker-header {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			padding-inline-end: 1rem;

			h2 {
				margin-block-start: 0;
			}
		}
	}
}

.media-picker-wrapper {
	display: flex;
	flex-flow: row wrap;
	column-gap: 1rem;
	row-gap: 3rem;

	& > article {
		width: 12rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		gap: 1rem;

		.image-wrapper {
			img {
				max-width: 10rem;
				max-height: 10rem;
			}
		}
	}
}

.image-preview {
	display: flex;
	flex-flow: column;
	padding-inline-end: 1rem;
}