:root {
	--white: #fefefe;
	--button-background: #ffc091;
	--button-active-background: #b07549;
	--button-danger-background: #7a0000;
}

@font-face {
  font-family: "Cabin";
  src:
    local("Cabin"),
    url("/Cabin.ttf") format("truetype")
}


body {
	font-family: Cabin, sans-serif;
}
th, td {
	text-align: left;
}

button {
	padding: .5rem .75rem;
	background: var(--button-background);
	border: 0;
	border-radius: .5rem;
	font-family: Cabin, sans-serif;
	font-size: 1rem;
}

button:active {
	background: var(--button-active-background);
}

button.danger {
	background: var(--button-danger-background);
	color: var(--white);
}

label {
	font-size: 1.125rem;
}

input,
textarea {
	padding: .25rem .5rem;
	border-radius: .5rem;
	font-size: 1.125rem;
	font-family: Cabin, sans-serif;
	border: 2px solid var(--button-background);
}

select {
	border: 2px solid var(--button-background);
	background: white;
	border-radius: .5rem;
	height: 2.25rem;
	font-family: Cabin, sans-serif;
	font-size: 1rem;
}

dialog {
	border-radius: .5rem;
	border: 2px solid var(--button-background);
}