<!DOCTYPE html>
<html lang="en" xmlns:toe="https://xgebi.github.io/Sloth/">
<toe:import file="head.toe.html"/>
<body class="inner-city">
<toe:import file="nav.toe.html"/>
<main>
    <h1>Analytics</h1>
    <section>
        <h2>Pageviews (last seven days)</h2>
        <div id="page-views-holder"></div>
    </section>
    <section>
        <h2>Most visited pages</h2>
        <div>
            <button class="most-visited" data-period="all">Overall</button>
            <button class="most-visited" data-period="year">Last year</button>
            <button class="most-visited" data-period="month">Last month</button>
            <button class="most-visited" data-period="week">Last week</button>
        </div>
        <div id="most-visited-holder"></div>
    </section>
    <section>
        <h2>Browser statistics</h2>
        <div id="browsers-holder"></div>
        <table id="browser-stats">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th>Versions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</main>
</body>
<script toe:inline-js>
    const pageViews = JSON.parse('<( last_seven_days )>');
    let mostVisited = JSON.parse('<( most_visited )>');
    const browserData = JSON.parse('<( browser_data )>');
</script>
<script src="/static/js/analytics.js"></script>
</html>