<toe:fragment>
    <script toe:inline-js>
        document.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("secret")) {
                const main = document.querySelector("main");
                while (main.lastChild) {
                    main.removeChild(main.lastChild)
                }

                const form = document.createElement('form');
                form.addEventListener('submit', formSubmitted)
                const label = document.createElement("label");
                label.textContent = "Password:";
                label.setAttribute("for", "password-input");
                form.appendChild(label);
                const input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("id", "password-input");
                form.appendChild(input);
                const button = document.createElement("button");
                button.setAttribute("type", "submit");
                button.textContent = "Unlock";
                form.appendChild(button);
                main.appendChild(form);

								const hero = document.querySelector("#home-intro");
								const body = document.querySelector('body');
								body.classList.add('protected-post');
								body.removeChild(hero);

								form.classList.add('unlock-form');

            }

            function formSubmitted(event) {
                event.preventDefault();
                fetch('<(sloth_api_url)>/api/post/secret', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }, // Not ideal, not happy
                    body: JSON.stringify({
                        password: document.querySelector("#password-input").value,
                        slug: urlParams.get("secret")
                    })
                }).then(response => {
                    return response.json()
                }).then(data => {
                    const main = document.querySelector("main");
                    while (main.lastChild) {
                        main.removeChild(main.lastChild)
                    }

                    main.innerHTML = `<h2>${data["title"]}</h2> ${data["full_content"]}`
                })
            }
        });
    </script>
</toe:fragment>
