{% extends 'layout.html' %}

{% block title %}List of taxonomies{% endblock %}

{% block body %}
<h1>List of taxonomies</h1>
Note: Custom taxonomies are on To Do list
    <p>
    Other languages:
    {% for lang in languages %}
        <a href="/post/{{  post_type_uuid }}/taxonomy/{{ lang['uuid'] }}">{{ lang["long_name"] }}</a>
    {% endfor %}
    </p>
{% for key in taxonomy_types %}
<h2>{{ key }}</h2>
{% if  key != 'tag'%}
<a href="/post/{{ post_uuid}}/taxonomy/{{ key }}/new?type={{ key }}">Add new {{ key }}</a>
{% endif %}

{% if taxonomy_list[key]|length > 0 %}
<table>
	<thead>
		<tr>
			<th>Name</th>
            {% if  key != 'tag'%}
			<th>Action</th>
            {% endif %}
		</tr>
	</thead>
	<tbody>
		{% for taxonomy in taxonomy_list[key] %}
        <tr>
            <td>{{ taxonomy[1] }}</td>
            {% if  key != 'tag'%}
            <td><a href="/post/{{ post_uuid }}/taxonomy/{{ key }}/{{ taxonomy[0] }}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
	</tbody>
</table>
{% else %}
<p>No items</p>
{% endif %}
{% endfor %}

{% endblock %}