{% extends 'layout.html' %}

{% block title %}User Setting{% endblock %}

{% block body %}
<h1>{{ user["username"] }}'s settings</h1>
<form action="/settings/user/{{ user['uuid'] }}/save" method="POST">	
	<label for="username">Username:</label>
	<input type="text" name="username" id="username" value="{{ user["username"] }}" />

	<label for="display-name">Display name:</label>
	<input type="text" name="display-name" id="display-name" value="{{ user["display_name"] }}" />

	<label for="email">E-mail:</label>
	<input type="email" name="email" id="email"
		value="{{ user["email"] }}" />

	{% if permission_level > 0 %}
	<label for="permissions">Permissions level:</label>
	<input type="number" min="0" step="1" name="permissions" id="permissions"
		value="{{ user["permissions_level"] }}" />
	{% endif %}

	<input type="submit" value="save" />
</form>

{% endblock %}