{% extends 'layout.html' %}

{% block title %}User Setting{% endblock %}

{% block body %}
<h1>{{ user["username"] }}'s settings</h1>
<form action="/settings/user/{{ user['uuid'] }}/save" method="POST">	
	{% for setting in user %}
	<label for="{{ setting["settings_name"] }}">{{ setting["display_name"] }}:</label>
	<input type="text" name="{{ setting["settings_name"] }}" id="{{ setting["settings_name"] }}" value="{{ setting["settings_value"] }}" />
	{% endfor %}
	<input type="submit" value="save" />
</form>

{% endblock %}