:host {
  display: block;
}

.sloth-editor {
  display: grid;
  grid-template-rows: auto 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sloth-editor--translation-mode textarea {
  grid-column: 2 / 3;
}

.sloth-editor--original-mode textarea {
  grid-column: 1 / 3;
}

.sloth-editor__action-buttons {
  display: flex;
  justify-content: space-between;
}

.sloth-editor__action-buttons button {
  height: 2rem;
  background: transparent;
  border: 0;
}
