.sticky-nav {
	position: sticky;
	padding: 1rem 2rem;
	background: var(--purple);
	color: var(--white);
	top: 0;
}

.sticky-nav ul {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.sticky-nav a,
.sticky-nav a:visited,
.sticky-nav a:active {
	color: var(--white);
}

.ds-layout {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr minmax(60rem, 50%) 1fr;
  row-gap: 2rem;
}

.ds-layout > * {
  grid-column: 2 / 3;
}

.ds-layout #colors ul {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
}

.color-square {
	width: 15rem;
	height: 15rem;
	flex: 0 0 15rem;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto 1fr;
}

.color-square > * {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.color-square.color-square-black {
	background: var(--black);
	color: var(--white);
}

.color-square.color-square-purple {
	background: var(--purple);
	color: var(--white);
}

.color-square.color-square-white {
	background: var(--white);
	color: var(--purple);
	border: 1px solid var(--purple);
}

.color-square.color-square-orange {
	background: var(--orange);
	color: var(--black);
}

.color-square.color-square-red {
	background: var(--red);
	color: var(--white);
}

.color-square.color-square-light-orange {
	background: var(--light-orange);
	color: var(--black);
}

.color-square.color-square-light-red {
	background: var(--light-red);
	color: var(--black);
}