:root {
	--white: hsl(36, 26%, 98%);
	--black: hsl(36, 100%, 6%);
	--red: hsl(360, 100%, 34%);
	--orange: hsl(38, 100%, 548%);
	--green: hsl(126, 69%, 50%);
	font-family: Cabin, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.125rem;
	font-family: "Noto Sans", sans-serif;
}


/* Login and registration */
