<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SlothCMS registration | Step 1</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>

<body>
	<main>
		<form class="user-dialog" method="POST" action="/registration">
			{% if error is defined %}
			<p class="error">{{ error }}</p>
			{% endif %}
			<label for="username">Username: </label>
			<input type="text" id="username" name="username" value="{{data['username']}}" />
			<label for="password">Password: </label>
			<input type="password" id="password" name="password" />
			<label for="email">Email: </label>
			<input type="text" id="email" name="email" value="{{data['email']}}" />
			<label for="sitename">Site name: </label>
			<input type="text" id="sitename" name="sitename" value="{{data['sitename']}}" />
			<label for="description">Site description: </label>
			<input type="text" id="description" name="description" value="{{data['description']}}" />
			<label for="url">URL: </label>
			<input type="text" id="url" name="url" value="{{data['url']}}" />
			<div class="button">
				<input type="submit" value="Register" />
			</div>
		</form>
	</main>
</body>

</html>