<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wizard | SkeletonSlothCMS</title>
    <link href="/static/css/wizard.css" rel="stylesheet" />
</head>

<body>
    <form method="POST" action="/register">
        {% if missing %}
        <div>Missing values</div>
        {% endif %}
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="{{ filled.username if filled.username }}" />
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" />
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" value="{{ filled.email if filled.email }}" />
        <label for="sitename">Site name: </label>
        <input type="text" id="sitename" name="sitename" value="{{ filled.sitename if filled.sitename }}" />
        <input type="submit" value="Register" />
    </form>
</body>

</html>