.main-nav {
	background: black;
	margin: 0;
	height: 100%;
	padding: 1rem;
	color: white;

	ul {
		list-style: none;
		padding-inline-start: 1rem;
	}

	a, a:visited, a:active, a:hover, a:link {
		color: white;
	}

	.active {
		font-weight: 700;
	}

	li {
		padding-block: .25rem;
	}

	& li > ul {
		display: none;
		list-style: none;
	}

	& li:has(a.active) > ul,
	.open > ul {
		display: block;
	}
}

