.login-wrapper {
	display: grid;
	grid-template-columns: auto 20rem auto;
	grid-template-rows: auto 20rem auto;
	height: 100vh;

	.login-section {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		border-radius: .5rem;
		border: 2px solid var(--button-background);
		padding: 1rem;
		height: fit-content;
		width: fit-content;

		form {
			display: flex;
			flex-flow: column nowrap;
			gap: 1rem;

			input {
				width: calc(18rem - 4px)
			}
		}
	}
}