:root {
	--white: hsl(36, 26%, 98%);
	--black: hsl(36, 100%, 6%);
	--red: hsl(360, 100%, 34%);
	--orange: hsl(36, 100%, 48%);
	--green: hsl(126, 69%, 50%);
	font-family: Cabin, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.125rem;
	font-family: "Noto Sans", sans-serif;
}


/* Login and registration */
.gatekeeper {
	background: var(--orange);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	min-height: 100vh;
	grid-template-rows: 1fr auto 1fr;
}

.gatekeeper > main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background: var(--white);
	border-radius: .5rem;
	padding: 1.25rem 3.75rem 2.5rem;
}

.gatekeeper h1 {
	text-align: center;
}

.gatekeeper .error {
	background: var(--red);
	color: var(--white);
	text-align: center;
	padding: .5rem 1rem;
	margin: 1rem 0;
}

.gatekeeper > main form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .625rem;
	column-gap: 0;
	row-gap: .625rem;
}

.gatekeeper .button {
	grid-column: 2 / 3;	
}

/* Form elements */
input:not([type="button"]):not([type="submit"]),
select {
	border: 2px solid var(--orange);
}

.button input {
	padding: .8rem 1.25rem;
	border: 0;
	font-size: 1.125rem;
}

.button.success input {
	background: var(--green);
	color: var(--black);
}

.inner-city {
	display: grid;
	grid-template-columns: 15rem auto;
}

.inner-city nav {

}

.inner-city nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inner-city nav ul ul {
	padding: 0 0 0 2rem;
}

.hidden {
	display: none;
}
