:root {
    --white: hsl(36, 26%, 98%);
    --black: hsl(36, 100%, 6%);
    --dark-grey: hsl(36, 0%, 20%);
    --light-grey: hsl(36, 0%, 80%);
    --red: hsl(360, 100%, 34%);
    --orange: hsl(36, 100%, 48%);
    --green: hsl(126, 69%, 50%);
    font-family: Cabin, sans-serif;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/static/fonts/FiraCode-VF.woff2') format('woff2'),
    url("/static/fonts/FiraCode-VF.woff") format("woff");
    font-weight: 300 700;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    font-family: "Fira Code", "Noto Sans", sans-serif;
    font-weight: 300;
}


/* Login and registration */
.gatekeeper {
    background: var(--orange);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 100vh;
    grid-template-rows: 1fr auto 1fr;
}

.gatekeeper > main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: var(--white);
    border-radius: .5rem;
    padding: 1.25rem 3.75rem 2.5rem;
}

.gatekeeper h1 {
    text-align: center;
}

.gatekeeper .error {
    background: var(--red);
    color: var(--white);
    text-align: center;
    padding: .5rem 1rem;
    margin: 1rem 0;
}

.gatekeeper > main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .625rem;
    column-gap: 0;
    row-gap: .625rem;
}

.gatekeeper .button {
    grid-column: 2 / 3;
}

/* Form elements */
input:not([type="button"]):not([type="submit"]),
select {
    border: 2px solid var(--orange);
}

.button input {
    padding: .8rem 1.25rem;
    border: 0;
    font-size: 1.125rem;
}

.button.success input {
    background: var(--green);
    color: var(--black);
}

.inner-city {
    display: grid;
    grid-template-columns: 15rem auto;
    column-gap: 1rem;
}

.inner-city nav {
    background: var(--dark-grey);
    padding: 1rem;
}

.inner-city nav a {
    color: var(--white);
}

.inner-city nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inner-city nav ul ul {
    padding: 0 0 0 2rem;
}

.hidden {
    display: none;
}

.media-gallery {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
}

.media-gallery img {
    width: 100%;
}

.post-edit {
    display: grid;
    grid-template-columns: auto 16rem;
    grid-template-rows: masonry;
    column-gap: 3rem;
    padding: 2rem 4rem;
    row-gap: 1rem;
}

.post-edit div {
    display: flex;
    flex-direction: column;
}

.post-edit .full-width {
    grid-column: 1 / 3;
}

.post-edit .first-column {
    grid-column: 1 / 2;
}

.post-edit .second-column {
    grid-column: 2 / 3;
}

.post-edit #thumbnail-wrapper img {
    width: 16rem;
}

.post-list tbody tr:nth-child(even) {
    background: var(--light-grey);
}

#settings-options {
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(25rem, 1fr);
    max-width: 50vw;
}

#settings-options section {
    display: contents;
}

p.dangerzone {
    border: 2px solid red;
    background: #ff3a3a;
}

.bold {
    font-weight: 700;
}

.form-field {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

#browser-stats td {
    vertical-align: top;
}

/* Sloth Editor */
.sloth-editor {
    width: 80ch;
    min-height: 20rem;
    background: beige;
}

#modal.gallery {
    width: 80vw;
}

#modal.gallery section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
}