<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ sitename }}</title>

	<link href="/assets/styles.css" rel="stylesheet" />
	{{ post.jsFilePath }}
	{% if post.js %}
	<script src="script.js" defer></script>
	{% endif %}
	{% if post.css %}
	<link href="style.css" rel="stylesheet" />
	{% endif %}
</head>

<body>
	<main>
		<article>
			<h1>{{ post.title }}</h1>
			{{ post.content }}
		</article>
	</main>

	{{ sloth_footer }}
</body>

</html>