<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SlothCMS registration | Step 2</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>

<body>
	<main class="user-dialog">
		<form method="POST" action="/login/process">
			{% if error is defined %}
			<p class="error-message">Your username or password are incorrect</p>
			{% endif %}
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" />
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" />
			<div class="button">
				<input type="submit" value="Log in" />
			</div>
		</form>
	</main>
</body>

</html>