<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} | SkeletonSlothCMS</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
    {% endblock %}
</head>

<body>
    <nav>
        <a href="/dashboard">Dashboard</a>
        {% for post_type in post_types %}
        <div>
            <a href="/post_type/{{ post_type[0] }}/list">{{ post_type[1] }}s</a>
            <a href="/post_type/{{ post_type[0] }}/add">Add new {{ post_type[1] }}</a>
            <a href="/post_type/{{ post_type[0] }}/categories">Categories</a>
            <a href="/post_type/{{ post_type[0] }}/tags">Tags</a>
        </div>
        {% endfor %}
        <section>
            <a href="/themes/list">List themes</a>
        </section>
        <a href="/settings">Settings</a>
    </nav>

    <main role="main">
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>