{% extends "template.html" %}
{% block title %}List of [post_type_to_be_changed]{% endblock %}
{% block content %}
<!-- uuid, slug, post_type, title, content, css_file, js_file, publish_date, update_date, post_status, tags, categories -->
<form method="POST" action="">
	<label for="title">Title:</label>
	<input id="title" name="title" value="{{ post[3] }}" />
	<label for="content">Content</label>
	<textarea id="content" name="content">{{ post[4] }}</textarea>

	{% if not post[9] or post[9] == "" %}
	<button>Save</button>
	<input type="submit" value="Save and publish" />
	{% elif post[9] == "draft" %}
	<button>Update</button>
	<input type="submit" value="Save and publish" />
	{% else %}
	<input type="submit" value="Update" />
	{% endif %}
</form>
{% endblock %}