{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>
<section>
	<h2>Recent posts</h2>
	{% for post in recent_posts %}
	<article>
		<h3><a href="/post/{{post['uuid']}}/edit">{{post["title"]}}</a></h3>
		<div>Post type: {{post['post_type']}}</div>
		<div>Published: {{ post['publish_date'] }}</div>
	</article>
    {% endfor %}
</section>
<section>
	<h2>Upcoming posts</h2>
	{% for post in upcoming_posts %}
	<article>
		<h3><a href="/post/{{post['uuid']}}/edit">{{post["title"]}}</a></h3>
		<div>Post type: {{post['post_type']}}</div>
		<div>Published: {{ post['publish_date'] }}</div>
	</article>
	{% endfor %}
</section>
<section>
	<h2>Drafts</h2>
	{% for post in drafts %}
	<article>
		<h3><a href="/post/{{post['uuid']}}/edit">{{post["title"]}}</a></h3>
		<div>Post type: {{post['post_type']}}</div>
		<div>Published: {{ post['publish_date'] }}</div>
	</article>
	{% endfor %}
</section>
<section>
	<h2>Messages</h2>
	{% for msg in messages %}
	<article>
		<h3><a href="/messages/{{msg['uuid']}}">From {{msg["name"]}}</a></h3>
		<div>Sent: {{ msg['sent_date'] }}</div>
	</article>
	{% endfor %}
</section>
{% endblock %}