{% extends 'layout.html' %}

{% block title %}Dev Settings{% endblock %}

{% block body %}
    <h1>Dev Settings</h1>
    {% if error %}
        <h1>Database error</h1>
    {% endif %}
    <p class="dangerzone">
        <button id="delete-posts">Delete posts</button>
    </p>
    <p class="dangerzone">
        <button id="delete-taxonomy">Delete taxonomy</button>
    </p>
    <div>
        <button id="post-health-check">Post health check</button>
        <div id="post-health-check-results"></div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/js/dev-settings.js"></script>
{% endblock %}