{% extends 'layout.html' %}

{% block title %}List of formats{% endblock %}

{% block body %}
    <h1>List of formats</h1>
    Note: Formats aren't separated by languages
    <div>
        <button id="create-new-post-format">Create new post format</button>
    </div>
    {% if post_formats | length > 0 %}
        <table>
            <thead>
            <tr>
                <th>Display name</th>
                <th>Slug</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for pt in post_formats %}
                <tr>
                    <td class="display-name">{{ pt['display_name'] }}</td>
                    <td class="slug">{{ pt['slug'] }}</td>
                    <td class="action">
                        <button class="edit-button" data-deletable="{{ pt['deletable'] }}" data-uuid="{{ pt['uuid'] }}">Edit</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <template id="format-form">
        <tr>
            <td class="display-name"><input type="text" /></td>
            <td class="slug"><input type="text" /></td>
            <td class="action">
                <button class="save-button">Save</button>
                <button class="cancel-button">Cancel</button>
                <br />
                <button class="delete-button">Delete</button>
            </td>
        </tr>
    </template>

{% endblock %}

{% block scripts %}
    <script>
        const postTypeUuid = "{{ post_type_uuid }}";
    </script>
    <script src="/static/js/post-formats.js"></script>
{% endblock %}
