{% extends 'layout.html' %}

{% block title %}List of formats{% endblock %}

{% block body %}
    <h1>List of formats</h1>
    Note: Formats aren't separated by languages
    <div>
        <button id="create-new-post-format">Create new post format</button>
    </div>
    {% if post_formats | length > 0 %}
        <table>
            <thead>
            <tr>
                <th>Display name</th>
                <th>Slug</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for pt in post_formats %}
                <tr>
                    <td>{{ pt['display_name'] }}</td>
                    <td>{{ pt['slug'] }}</td>
                    <td>
                        <button data-uuid="{{ pt['uuid'] }}">Edit</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% block scripts %}
<script src="/static/js/post-formats.js"></script>
{% endblock %}
