{% extends 'layout.html' %}

{% block title %}Language settings{% endblock %}

{% block body %}
<h1>Language settings</h1>
{% if error %}
<h1>Database error</h1>
{% endif %}
<form action="/settings/language/save" method="POST">
	{% for lang in languages %}
	<label for="{{ lang["short"] }}">{{ lang["display_name"] }}:</label>
	<input type="text" name="{{ lang["short"] }}" id="{{ lang["short"] }}" value="{{ lang["short"] }}" />
	{% endfor %}
	<input type="submit" value="save" />
</form>

{% endblock %}