{% extends 'layout.html' %}

{% block title %}Languages{% endblock %}

{% block body %}
    <h1>Languages</h1>
    <button id="create-new-language">Create new language</button>
    <table id="language-table">
        <thead>
        <tr>
            <th>Long name</th>
            <th>Short name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr id="language-{{ language['uuid'] }}">
                <td class="language-long-name">{{ language["long_name"] }}</td>
                <td class="language-short-name">{{ language["short_name"] }}</td>
                <td>
                    <button
                            class="action-button"
                            data-action="edit"
                            data-uuid="{{ language['uuid'] }}"
                    >Edit
                    </button>
                </td>
                <td>
                    <button
                            class="delete-button"
                    >Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <article id="language-wrapper">

    </article>

{% endblock %}

{% block scripts %}
    <script src="/static/js/language.js"></script>
{% endblock %}