<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log in</title>
	<link href="/static/css/styles.css" rel="stylesheet">
</head>

<body class="gatekeeper">
	<main>
		<h1>Log in to Sloth CMS</h1>
		{% if status.error %}
		<section class="error">
			Username or password are incorrect.
		</section>
		{% endif %}
		<section class="registration-items">
            {% if redirect %}
            <form action="/login/process?redirect={{ redirect }}" method="POST">
            {% else %}
			<form action="/login/process" method="POST">
            {% endif %}
				<label for="name">Username:</label> <input type="text" name="username" id="name" />
				<label for="password">Password:</label> <input type="password" name="password" id="password" />
				<span class="button success">
					<input type="submit" value="Log in" />
				</span>
			</form>
		</section>
	</main>

</body>

</html>