{% extends 'layout.html' %}

{% block title %}List of media{% endblock %}

{% block body %}
    <h1>List of media</h1>
    <button id="open-modal">Upload file</button>
    <section class="media-gallery" id="media-gallery">
        {% for medium in media %}
            <article>
                <img src="{{ medium["file_url"] }}" alt="{{ medium["alt"] }}"/>
                <p>
                    Alt: {{ medium["alt"] }}
                </p>
                <button data-uuid="{{ medium["uuid"] }}" data-file-path="{{ medium["file_url"] }}"  class="delete-button">Delete</button>
            </article>
        {% endfor %}

    </section>
    <dialog id="modal"></dialog>
{% endblock %}


{% block scripts %}
    <script>
    const languages = JSON.parse(`{{ languages | tojson }}`);
    </script>
    <script src="/static/js/media.js"></script>
{% endblock %}