{% extends 'layout.html' %}

{% block title %}List of media{% endblock %}

{% block body %}
<h1>List of media</h1>

<table>
	<thead>
		<tr>
			<th>From</th>
			<th>Message sent</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for message in messages %}
		<tr>
			<td><a href="/messages/{{message['uuid']}}">From {{message['name']}}</a></td>
			<td>{{message['sent_date']}}</td>
			<td>{{ message['status'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}


{% block scripts %}
<script scr="/static/js/media.js"></script>
{% endblock %}