{% extends 'layout.html' %}

{% block title %}Message from {{message['name']}}{% endblock %}

{% block body %}
<h1>Message from {{message['name']}}</h1>

<p>Sent: {{ message['sent_date'] }}</p>
<p>Email: {{ message['email'] }}</p>
<h2>Body</h2>
<article>
{{ message['body'] }}
</article>
    <div>
    <a href="/messages">Go back to list</a>
    <button id="delete-message">Delete message</button>
    </div>
{% endblock %}

{% block scripts %}
<script src="/static/js/messages.js"></script>
{% endblock %}