{% extends 'layout.html' %}

{% block title %}Mock Endpoints{% endblock %}

{% block body %}
<h1>Mock Endpoints</h1>
<section>
    <a href="/mock-endpoints/new">Create new endpoint</a>
	<table>
        <thead>
            <tr>
                <td>Path</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for endpoint in endpoints_list %}
            <tr>
                <td>{{ endpoint["path"] }}</td>
                <td><a href="/mock-endpoints/{{ endpoint['uuid'] }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}