{% extends 'layout.html' %}

{% block title %}Mock Endpoint{% endblock %}

{% block body %}
<h1>Mock Endpoint</h1>
<section class="endpoint-detail">
    <form method="post" action="/mock-endpoints/{{ endpoint['uuid'] }}/save">
        <input name="new" class="hidden" value="{{ endpoint['new'] }}" />
        <label for="path">Path:</label>
        <input id="path" name="path" value="{{ endpoint['path'] }}" />
        <label for="data">Data</label>
        <textarea id="data" name="data">{{ endpoint['data'] }}</textarea>
        <input type="submit" value="Save" />
    </form>
<button id="delete-button" data-uuid="{{ endpoint['uuid'] }}">Delete endpoint</button>
</section>
{% endblock %}

{% block scripts %}
    <script src="/static/js/mock-endpoints.js"></script>
{% endblock %}