{% extends 'layout.html' %}

{% block title %}{% if data["new"] %}Add new {{ post_type_name }}{% else %}Edit {{ post_type_name }}
{% endif %}{% endblock %}

{% block body %}
    <article class="post-edit">
        <h1 class="full-width">{% if data["new"] %}Add new {{ post_type_name }}{% else %}Edit
            {{ post_type_name }}{% endif %}</h1>
        {% if data["original_post"] %}
            <span id="uuid" class="hidden" data-new="{{ data["new"] }}" data-uuid="{{ data["uuid"] }}"
                  data-posttype-uuid="{{ data["post_type"] }}" data-original-post="{{ data["original_post"] }}"></span>
        {% else %}
            <span id="uuid" class="hidden" data-new="{{ data["new"] }}" data-uuid="{{ data["uuid"] }}"
                  data-posttype-uuid="{{ data["post_type"] }}"></span>
        {% endif %}
        <div class="first-column">
            <label for="title">Title (may not be empty)</label>
            <input id="title" value="{{ data["title"] }}" required/>
        </div>
        <div class="first-column">
            <label for="slug">Slug</label>
            <input id="slug" value="{{ data["slug"] }}"/>
        </div>

        {% if translations | length > 0 %}
            <div class="first-column">
                Translations
                {% for translation in translations %}
                    <a href="/post/{{ translation['uuid'] }}/edit">{{ translation['long_name'] }}</a>

                {% endfor %}
            </div>
        {% endif %}
        <div class="first-column">
            <button id="gallery-opener">Open gallery</button>
            <dialog id="modal" class="gallery"></dialog>
        </div>
        <div class="first-column">
            <label for="excerpt">Excerpt:</label>
            <br/>
            <textarea id="excerpt">{{ data["excerpt"] }}</textarea>
        </div>
        <div class="first-column">
            <label for="content">Post:</label>
            <br/>
            <textarea id="content">{{ data["content"] }}</textarea>
        </div>
        <div class="first-column">
            <label for="css">Custom CSS:</label>
            <br/>
            <textarea id="css">{{ data["css"] }}</textarea>
            {% if data["use_theme_css"] %}
                <input type="checkbox" id="use_theme_css" name="use_theme_css" checked/>
            {% else %}
                <input type="checkbox" id="use_theme_css" name="use_theme_css"/>
            {% endif %}
            <label for="use_theme_css">Use theme's CSS</label>
        </div>
        <div class="first-column">
            <label for="js">Custom JavaScript:</label>
            <br/>
            <textarea id="js">{{ data["js"] }}</textarea>
            {% if data["use_theme_js"] %}
                <input type="checkbox" id="use_theme_js" name="use_theme_js" checked/>
            {% else %}
                <input type="checkbox" id="use_theme_js" name="use_theme_js"/>
            {% endif %}
            <label for="use_theme_js">Use theme's JS</label>
        </div>
        <!-- TODO figure out something better than input -->
        <div class="second-column thumbnail">
            <label for="thumbnail">Thumbnail</label>
            <figure id="thumbnail-wrapper">
                {% if data["thumbnail_uuid"] %}
                    <img src="{{ data["thumbnail_path"] }}" alt="{{ data["thumbnail_alt"] }}"/>
                {% endif %}
            </figure>
            <button id="pick-thumbnail">Pick thumbnail</button>
            <input id="thumbnail" class="hidden" value="{{ data["thumbnail_uuid"] }}"/>
        </div>
        <div class="metadata second-column">
            <label for="publish_date">Publish date</label>
            <input id="publish_date" type="date" value="{{ data["publish_date"] }}"/>
            <label for="publish_time">Publish time</label>
            <input id="publish_time" type="time" value="{{ data["publish_time"] }}"/>
            <label for="post_status">Status</label>
            <select name="post_status" id="post_status">
                {% for status in post_statuses %}
                    {% if status == data["status"] %}
                        <option value="{{ status }}" selected>{{ status }}</option>
                    {% else %}
                        <option value="{{ status }}">{{ status }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% if data["status"] != 'protected' %}
                <label for="password_protection" id="password_protection_label" class="hidden">Password:</label>
                <input id="password_protection" type="text" class="hidden"/>
                <!-- In this case type password is unnecessary, may change -->
            {% endif %}
            {% if data["status"] == 'protected' %}
                <label for="password_protection" id="password_protection_label">Password:</label>
                <input id="password_protection" type="text" value="{{ data["password"] }}"/>
                <!-- In this case type password is unnecessary, may change -->
            {% endif %}
            {% if data["imported"] %}
                <label for="import_approved">Imported post approved:</label>
                {% if data["approved"] %}
                    <input type="checkbox" id="import_approved" checked/>
                {% else %}
                    <input type="checkbox" id="import_approved"/>
                {% endif %}
            {% endif %}
            {% if data["status"] == 'draft' %}
                <button id="save-draft">Save draft</button>
                <button id="publish-button">Publish post</button>
                {% if languages | length > 0 %}
                    <label for="create-lang">For language:</label>
                    <select id="create-lang">
                        <option value="" selected>---</option>
                        {% for language in languages %}
                            <option value="{{ language['uuid'] }}">{{ language["long_name"] }}</option>
                        {% endfor %}
                    </select>
                    <button id="save-create">Save and Create translation</button>
                    <button id="publish-create">Publish and Create translation</button>
                {% endif %}
            {% endif %}
            {% if data["status"] == 'published' or data["status"] == 'scheduled' or data["status"] == 'protected' %}
                <button id="update-button">Update post</button>
                {% if languages | length > 0 %}
                    <select id="create-lang">
                        <option value="" selected>---</option>
                        {% for language in languages %}
                            <option value="{{ language['uuid'] }}">{{ language["long_name"] }}</option>
                        {% endfor %}
                    </select>
                    <button id="update-create">Update and Create translation</button>
                {% endif %}
            {% endif %}
            <button id="schedule-button" class="schedule-button hidden">Schedule post</button>
            <button id="delete-button">Delete post</button>
        </div>
        <div class="second-column tags">
            <label for="tags">Tags</label>
            <input id="tags-input"/>
            <button id="add-tags">Add</button>
            <div id="tags-div">
                {% for tag in data["tags"] %}
                    {% if tag["selected"] %}
                        <span
                                data-uuid="{{ tag['uuid'] }}"
                                data-slug="{{ tag['slug'] }}"
                                data-display-name="{{ tag['display_name'] }}"
                        >{{ tag["display_name"] }}
                            <button class="delete-tag">🚮</button>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="second-column categories">
            <label for="categories">Categories</label>
            <select id="categories" multiple="multiple">
                {% for category in data["categories"] %}
                    {% if category["selected"] %}
                        <option value="{{ category['uuid'] }}" selected>{{ category['display_name'] }}</option>
                    {% else %}
                        <option value="{{ category['uuid'] }}">{{ category['display_name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div>
                <label for="new-category">New category name:</label>
                <input type="text" id="new-category">
                <button id="create-category">Create new category</button>
            </div>
        </div>
        <div class="second-column post-formats">
            <fieldset id="post-formats">
                <legend>Post format</legend>
                {% for pf in post_formats %}
                    {% if data['format_uuid'] == pf['uuid'] %}
                    <input type="radio" id="{{ pf['slug'] }}" value="{{ pf['uuid'] }}" checked name="post-format">
                    {% else %}
                    <input type="radio" id="{{ pf['slug'] }}" value="{{ pf['uuid'] }}" name="post-format">
                    {% endif %}
                    <label for="{{ pf['slug'] }}">{{ pf['display_name'] }}</label><br/>
                {% endfor %}
            </fieldset>
        </div>
    </article>
    <!--div class="sloth-editor"></div-->
{% endblock %}

{% block scripts %}
    <script>
        const currentLanguage = `{{ current_lang_id }}`;
    </script>
    <script src="/static/js/utilities.js"></script>
    <script src="/static/js/post-edit.js"></script>
    <!--script src="/static/js/editor.js"></script-->
{% endblock %}