{% extends 'layout.html' %}

{% block title %}{% if data["new"] %}Add new {{post_type_name}}{% else %}Edit {{post_type_name}}{% endif %}{% endblock %}

{% block body %}
    <h1>{% if data["new"] %}Add new {{post_type_name}}{% else %}Edit {{post_type_name}}{% endif %}</h1>
    <div>
        <label for="title">Title</label>
        <input id="title" value="{{ data["title"] }}" />
    </div>
    <button id="gallery-opener">Open gallery</button>
    <div>
        <label for="excerpt">Excerpt:</label>
        <br />
        <textarea id="excerpt">{{ data["excerpt"] }}</textarea>
    </div>
    <div>
        <label for="content">Post:</label>
        <br />
        <textarea id="content">{{ data["content"] }}</textarea>
    </div>
    <div>
        <label for="css">Custom CSS:</label>
        <br />
        <textarea id="css">{{ data["css"] }}</textarea>
        {% if data["use_theme_css"] %}
        <input type="checkbox" id="use_theme_css" name="use_theme_css" checked />
        {% else %}
        <input type="checkbox" id="use_theme_css" name="use_theme_css"/>
        {% endif %}
        <label for="use_theme_css">Use theme's CSS</label>
    </div>
    <div>
        <label for="js">Custom JavaScript:</label>
        <br />
        <textarea id="js">{{ data["js"] }}</textarea>
        {% if data["use_theme_js"] %}
        <input type="checkbox" id="use_theme_js" name="use_theme_js" checked />
        {% else %}
        <input type="checkbox" id="use_theme_js" name="use_theme_js"/>
        {% endif %}
        <label for="use_theme_js">Use theme's JS</label>
    </div>
    <!-- TODO figure out something better than input -->
    <div>
        <label for="thumbnail">Thumbnail</label>
        <input id="thumbnail" value="{{ data["thumbnail"] }}" />
    </div>
    <div>
        <label for="tags">Tags</label>
        <input id="tags" value="{{ data["tags"] | join(', ') }}" />
    </div>
    <div>
        <label for="categories">Categories</label>
        <select id="categories" multiple="multiple">
            {% for category in data['categories'] %}
                <option value="{{category['uuid']}}">{{ category['display_name'] }}</option>
            {% endfor %}
        </select>
        <div>
            <input type="text" id="new-category"><button id="create-category">Create new category</button>
        </div>
    </div>
    <div class="metadata">
        <label for="publish_date">Publish date</label>
        <input id="publish_date" value="{{ data["publish_date"] }}" />
        <label for="post_status">Status</label>
        <select name="post_status" id="post_status">
            {% for status in post_statuses %}
                {% if status == data["status"] %}
                    <option value="status" selected>{{ status }}</option>
                {% else %}
                    <option value="status">{{ status }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

<dialog id="modal"></dialog>
{% endblock %}

{% block scripts %}
<script src="/static/js/post-edit.js"></script>
{% endblock %}