{% extends 'layout.html' %}

{% block title %}Post type: {{ pt["display_name"] }}{% endblock %}

{% block body %}
<h1>Post type: {{ pt["display_name"] }}</h1>

{% if new %}
<form class="settings-table" action="/post-type/{{ pt["uuid"] }}/create" method="POST">
{% else %}
<form class="settings-table" action="/post-type/{{ pt["uuid"] }}" method="POST">
{% endif %}
    <label for="display-name">Display name:</label>
    <input type="text" id="display-name" name="display-name" value="{{ pt["display_name"] }}" />
    <label for="slug">Slug:</label>
    <input type="text" id="slug" name="slug" value="{{ pt["slug"] }}" />
    {% if pt["categories_enabled"] %}
    <input type="checkbox" id="categories-enabled" name="categories-enabled" checked />
    {% else %}
    <input type="checkbox" id="categories-enabled" name="categories-enabled"/>
    {% endif %}
    <label for="categories-enabled">Categories enabled</label>
    {% if pt["tags_enabled"] %}
    <input type="checkbox" id="tags-enabled" name="tags-enabled" checked />
    {% else %}
    <input type="checkbox" id="tags-enabled" name="tags-enabled"/>
    {% endif %}
    <label for="tags-enabled">Tags enabled</label>
    {% if pt["archive_enabled"] %}
    <input type="checkbox" id="archive-enabled" name="archive-enabled" checked />
    {% else %}
    <input type="checkbox" id="archive-enabled" name="archive-enabled"/>
    {% endif %}
    <label for="archive-enabled">Archive enabled</label>
    <input type="submit" value="Save">
</form>

{% endblock %}