<!DOCTYPE html>
<html lang="en" xmlns:toe="https://xgebi.github.io/Sloth/">
<toe:import file="head.toe.html"/>
<body class="inner-city">
<toe:import file="nav.toe.html"/>
<main>
    <article class="post-edit">
        <h1 class="full-width" toe:if="data['new']" toe:text="'Add new ' + post_type_name"></h1>
        <h1 class="full-width" toe:if="not data['new']" toe:text="'Edit ' + post_type_name"></h1>
        <span
                toe:if="data['original_post']"
                id="uuid"
                class="hidden"
                toe:data-new="data['new']"
                toe:data-uuid="data['uuid']"
                toe:data-posttype-uuid="data['post_type']"
                toe:data-original-post="data['original_post']"></span>
        <span
                toe:if="not data['original_post']"
                id="uuid"
                class="hidden"
                toe:data-new="data['new']"
                toe:data-uuid="data['uuid']"
                toe:data-posttype-uuid="data['post_type']"></span>
        <div class="first-column">
            <label for="title">Title (may not be empty)</label>
            <input id="title" toe:value="data['title']" required/>
        </div>
        <div class="first-column">
            <label for="slug">Slug</label>
            <input id="slug" toe:value="data['slug']"/>
        </div>

        <div toe:if="translations | length gt 0" class="first-column">
            Translations
            <a
                    toe:for="translation in translations"
                    toe:href="'/post/' + translation['uuid'] + '/edit'"
                    toe:text="translation['long_name']"
            ></a>
        </div>
        <div class="first-column">
            <button id="gallery-opener">Open gallery</button>
            <dialog id="modal" class="gallery"></dialog>
        </div>
        <div class="first-column">
            <label for="excerpt">Excerpt:</label>
            <br/>
            <textarea id="excerpt" toe:content="data['excerpt']"></textarea>
        </div>
        <div class="first-column">
            <label for="content">Post:</label>
            <br/>
            <textarea id="content" toe:content="data['content']"></textarea>
        </div>
        <div class="first-column">
            <label for="css">Custom CSS:</label>
            <br/>
            <textarea id="css" toe:content="data['css']"></textarea>
            <input type="checkbox" id="use_theme_css" name="use_theme_css" toe:checked="data['use_theme_css']"/>
            <label for="use_theme_css">Use theme's CSS</label>
        </div>
        <div class="first-column">
            <label for="js">Custom JavaScript:</label>
            <br/>
            <textarea id="js" toe:content="data['js']"></textarea>
            <input type="checkbox" id="use_theme_js" name="use_theme_js" toe:checked="data['use_theme_js']" />
            <label for="use_theme_js">Use theme's JS</label>
        </div>
        <!-- TODO figure out something better than input -->
        <div class="second-column thumbnail">
            <label for="thumbnail">Thumbnail</label>
            <figure id="thumbnail-wrapper">
                <img toe:if="data['thumbnail_uuid']" toe:src="data['thumbnail_path']" toe:alt="data['thumbnail_alt']"/>
            </figure>
            <button id="pick-thumbnail">Pick thumbnail</button>
            <input id="thumbnail" class="hidden" toe:value="data['thumbnail_uuid']"/>
        </div>
        <div class="metadata second-column">
            <label for="publish_date">Publish date</label>
            <input id="publish_date" type="date" toe:value="data['publish_date']"/>
            <label for="publish_time">Publish time</label>
            <input id="publish_time" type="time" toe:value="data['publish_time']"/>
            <label for="post_status">Status</label>
            <select name="post_status" id="post_status">
                <option toe:for="status in post_statuses" toe:value="status" toe:text="status" toe:selected="status eq data['status']"></option>
            </select>
            <toe:fragment toe:if="data['status'] neq 'protected'">
                <label for="password_protection" id="password_protection_label" class="hidden">Password:</label>
                <input id="password_protection" type="text" class="hidden"/>
                <!-- In this case type password is unnecessary, may change -->
            </toe:fragment>
            <toe:fragment toe:if="data['status'] eq 'protected'">
                <label for="password_protection" id="password_protection_label">Password:</label>
                <input id="password_protection" type="text" toe:value="data['password']"/>
                <!-- In this case type password is necessary, may change -->
            </toe:fragment>
            <toe:fragment toe:if="data['imported']">
                <label for="import_approved">Imported post approved:</label>
                <input type="checkbox" id="import_approved" toe:checked="data['approved']"/>
            </toe:fragment>
            {% if data["status"] == 'draft' %}
                <button id="save-draft">Save draft</button>
                <button id="publish-button">Publish post</button>
                {% if languages | length > 0 %}
                    <label for="create-lang">For language:</label>
                    <select id="create-lang">
                        <option value="" selected>---</option>
                        {% for language in languages %}
                            <option value="{{ language['uuid'] }}">{{ language["long_name"] }}</option>
                        {% endfor %}
                    </select>
                    <button id="save-create">Save and Create translation</button>
                    <button id="publish-create">Publish and Create translation</button>
                {% endif %}
            {% endif %}
            {% if data["status"] == 'published' or data["status"] == 'scheduled' or data["status"] == 'protected' %}
                <button id="update-button">Update post</button>
                {% if languages | length > 0 %}
                    <select id="create-lang">
                        <option value="" selected>---</option>
                        {% for language in languages %}
                            <option value="{{ language['uuid'] }}">{{ language["long_name"] }}</option>
                        {% endfor %}
                    </select>
                    <button id="update-create">Update and Create translation</button>
                {% endif %}
            {% endif %}
            <button id="schedule-button" class="schedule-button hidden">Schedule post</button>
            <button id="delete-button">Delete post</button>
        </div>
        <div class="second-column tags">
            <label for="tags">Tags</label>
            <input id="tags-input"/>
            <button id="add-tags">Add</button>
            <div id="tags-div">
                {% for tag in data["tags"] %}
                    {% if tag["selected"] %}
                        <span
                                data-uuid="{{ tag['uuid'] }}"
                                data-slug="{{ tag['slug'] }}"
                                data-display-name="{{ tag['display_name'] }}"
                        >{{ tag["display_name"] }}
                            <button class="delete-tag">🚮</button>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="second-column categories">
            <label for="categories">Categories</label>
            <select id="categories" multiple="multiple">
                {% for category in data["categories"] %}
                    {% if category["selected"] %}
                        <option value="{{ category['uuid'] }}" selected>{{ category['display_name'] }}</option>
                    {% else %}
                        <option value="{{ category['uuid'] }}">{{ category['display_name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div>
                <label for="new-category">New category name:</label>
                <input type="text" id="new-category">
                <button id="create-category">Create new category</button>
            </div>
        </div>
        <div class="second-column post-formats">
            <fieldset id="post-formats">
                <legend>Post format</legend>
                {% for pf in post_formats %}
                    {% if data['format_uuid'] == pf['uuid'] %}
                        <input type="radio" id="{{ pf['slug'] }}" value="{{ pf['uuid'] }}" checked name="post-format">
                    {% else %}
                        <input type="radio" id="{{ pf['slug'] }}" value="{{ pf['uuid'] }}" name="post-format">
                    {% endif %}
                    <label for="{{ pf['slug'] }}">{{ pf['display_name'] }}</label><br/>
                {% endfor %}
            </fieldset>
        </div>
    </article>
</main>
<script toe:inline-js>
    const currentLanguage = `<( current_lang_id )>`;
</script>
<script src="/static/js/utilities.js"></script>
<script src="/static/js/post-edit.js"></script>
</body>
</html>