<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body class="gatekeeper">
<main>
    <h1>Registration</h1>
    {% if error %}
        <section class="error">
            There was an error during registration process
        </section>
    {% endif %}
    <section class="registration-items">
        <form action="/registration" method="POST">
            <label for="website-name">Website name:</label> <input type="text" name="sitename" id="website-name"
                                                                   value="{{ registration.name }}"/>
            <label for="website-url">Website URL:</label> <input type="text" name="url" id="website-url"
                                                                 value="{{ registration.url }}"/>
            <label for="admin-url">Administration URL:</label> <input type="text" name="admin-url" id="admin-url"
                                                                      value="{{ registration.admin_url }}"/>
            <label for="timezone">Timezone:</label>
            <select id="timezone" name="timezone" value="{{ registration.timezone }}">
                {% for timezone in timezones %}
                    {% if registration.timezone == timezone %}
                        <option value="{{ timezone }}" selected>{{ timezone }}</option>
                    {% else %}
                        <option value="{{ timezone }}">{{ timezone }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="main-language-long">Main language full name:</label>
            <input type="text"
                   name="main-language-long"
                   id="main-language-long"
                   value="{{ registration.main_language_long }}"/>
            <label for="main-language-short">Main language short name:</label>
            <input type="text"
                   name="main-language-short"
                   id="main-language-short"
                   value="{{ registration.main_language_short }}"/>
            <label for="admin-name">Admin username:</label> <input type="text" name="username" id="admin-name"
                                                                   value="{{ registration.admin_name }}"/>
            <label for="admin-password">Admin password:</label> <input type="password" name="password"
                                                                       id="admin-password"
                                                                       value="{{ registration.admin_password }}"/>
            <span class="button success">
					<input type="submit" value="Register"/>
				</span>
        </form>
    </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("#admin-url").value = window.location.origin;
    });
</script>

</body>

</html>