<!DOCTYPE html>
<html lang="en" xmlns:toe="https://xgebi.github.io/Sloth/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body class="gatekeeper">
<main>
    <h1>Registration</h1>
    <section toe:if="error eq 'database'" class="error database">
        There was an error during registration process
    </section>
    <section toe:if="error eq 'missing'" class="error missing">
        Some fields were not filled
    </section>
    <section toe:if="error eq 'password'" class="error password">
        Weak password
    </section>
    <section class="registration-items">
        <form action="/registration" method="POST">
            <label for="website-name">Website name:</label> <input type="text" name="sitename" id="website-name"
                                                                   toe:value="registration['sitename']"/>
            <label for="website-url">Website URL:</label> <input type="text" name="url" id="website-url"
                                                                 toe:value="registration['url']"/>
            <label for="admin-url">Administration URL:</label> <input type="text" name="admin-url" id="admin-url"
                                                                      toe:value="registration['admin-url']"/>
            <label for="timezone">Timezone:</label>
            <select id="timezone" name="timezone" value="registration['timezone']">
                <option toe:for="timezone in timezones" toe:value="timezone" toe:text="timezone" toe:selected="registration['timezone'] eq timezone"></option>
            </select>

            <label for="main-language-long">Main language full name:</label>
            <input type="text"
                   name="main-language-long"
                   id="main-language-long"
                   toe:value="registration['main-language-long']"/>
            <label for="main-language-short">Main language short name:</label>
            <input type="text"
                   name="main-language-short"
                   id="main-language-short"
                   toe:value="registration['main-language-short']"/>
            <label for="admin-name">Admin username:</label> <input type="text" name="username" id="admin-name"
                                                                   toe:value="registration['username']"/>
            <label for="admin-password">Admin password:</label> <input type="password" name="password"
                                                                       id="admin-password"
                                                                       toe:value="registration['password']"/>
            <span class="button success">
                <input id="submit-btn" type="submit" value="Register"/>
            </span>
        </form>
    </section>
</main>

<script src="/static/js/utilities.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("#admin-url").value = window.location.origin;
        getCurrentTimezone(document.querySelector("#timezone").options);
    });
</script>

</body>

</html>